.page-container {
   background: none;
}

.dashboard {
   display: block;
   width: 100%;
   position: relative;
}


/* Grid CSS */

.dashboard .grid {
   display: grid;
}

.dashboard .grid-gap-5 {
   grid-gap: 5px;
}

.dashboard .grid-gap-10 {
   grid-gap: 10px;
}

.dashboard .grid-gap-15 {
   grid-gap: 15px;
}

.dashboard .grid-gap-20 {
   grid-gap: 20px;
}

.dashboard .grid-template-columns-1col {
   grid-template-columns: 1fr;
}

.dashboard .grid-template-columns-2col {
   grid-template-columns: 1fr 1fr;
}

.dashboard .grid-template-columns-3col {
   grid-template-columns: 1fr 1fr 1fr;
}

.dashboard .grid-template-columns-4col {
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dashboard .grid-template-columns-5col {
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.dashboard .grid-template-columns-repeat-250 {
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.dashboard .grid-template-columns-1fr-30 {
   grid-template-columns: 1fr 30%;
}

/* Flex CSS */
.dashboard .flex {
   display: flex;
   display: -webkit-flex;
}

.dashboard .flex .item {
   width: 100%;
}

.dashboard .flex-row {
   flex-direction: row;
}

.dashboard .flex-column {
   flex-direction: column;
}

.dashboard .justify-start {
   justify-content: flex-start;
}

.dashboard .justify-end {
   justify-content: flex-end;
}

.dashboard .justify-center {
   justify-content: center;
}

.dashboard .justify-space-between {
   justify-content: space-between;
}

.dashboard .align-items-center {
   align-items: center;
}

.dashboard .align-items-start {
   align-items: flex-start;
}

.dashboard .align-items-end {
   align-items: flex-end;
}

.dashboard .align-items-stretch {
   align-items: stretch;
   min-height: 50px;
   border: 1px solid #ddd;
}

.dashboard .align-content-center {
   align-content: center;
}

.dashboard .align-content-start {
   align-content: flex-start;
}

.dashboard .align-content-end {
   align-content: flex-end;
}

.dashboard .align-content-stretch {
   align-content: stretch;
}

/* Section Box Design */

.dashboard .dashboard-tabs-main-container {
   display: block;
}

.dashboard .dashboard-tabs-main-container .dashboard-tabs {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1px;
    background: #f3f3f3;
}

.dashboard .dashboard-tabs-main-container .dashboard-tabs .tab {
   display: block;
    padding: 8px 20px;
    background: #14315a;
    color: #FFF;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.dashboard .dashboard-tabs-main-container .dashboard-tabs .tab.active {
   background: #009688;
   cursor: default;
}

.dashboard .dashboard-tabs-main-container .dashboard-tabs .tab.active:before {
   content: "";
   position: absolute;
   top: 31px;
   left: calc(50% - 5px);
   z-index: 1;
   width: 12px;
   height: 12px;
   background: #009688;
   transform: rotate(45deg);
}

.dashboard .dashboard-tabs-main-container .dashboard-tabs-content {
   display: block;
   padding: 15px;
   border: 1px solid #d6d6d6;
}

.dashboard .dashboard-tabs-main-container .dashboard-tabs-content .tab-content {
   display: none;
}

.dashboard .dashboard-tabs-main-container .dashboard-tabs-content .tab-content.current {
   display: block;
}

.dashboard .section-box {
   display: flex;
   display: -webkit-flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 5px;
   border: 1px solid #ddd;
   background-color: #fff;
   box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
   -webkit-box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
   -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
   overflow: hidden;
   position: relative;
}

.dashboard .section-box .chart-loader {
   display: none;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.25);
   z-index: 99999;
}

.dashboard .section-box .chart-loader .loader-img {
   display: block;
   width: 60px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
}

.dashboard .box-sortable-active {
   border: 1px solid #003050 !important;
}

.dashboard .box-sortable-hover {
   -webkit-box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.3);
   box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.3);
}

.dashboard .section-box .box-header {
   display: flex;
   padding: 10px 15px;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   font-size: 16px;
   font-weight: 600;
   border-bottom: 1px solid #63c1ff;
   cursor: move;
   background: #f2fbff;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.dashboard .section-box .box-header:hover {
   background: #a8e5ff;
}

.dashboard .section-box .box-header .flex-row {
   padding: 0;
   gap: 6px;
}

.dashboard .section-box .box-header .flex-row .btn {
   margin: 0;
   padding: 0 5px !important;
   height: 26px;
   line-height: 24px !important;
   font-size: 14px !important;
} 

.btn i {
   margin: 0 2px;
   line-height: 28px;
   font-size: 14px;
}

.dashboard .section-box .box-header .right-containr {
   display: flex;
   flex-direction:row;
   justify-content: flex-end;
   align-items:center;
   gap: 10px;
}

.dashboard .section-box .box-header .right-containr a {
   color: #005789;
}

.dashboard .section-box .box-header .right-containr a:hover {
   color: #000;
}

.dashboard .section-box .box-header .header-icon {
   font-size: 18px;
   color: #005789;
}

.dashboard .section-box .tab-options {
   padding: 5px 5px 0;
}

.dashboard .section-box .tab-options a {
   display: block;
   width: 100%;
   text-align: center;
   margin: 2px;
   background: #003050;
   color: #FFF;
   font-size: 16px;
   font-weight: 600;
   padding: 8px;
   border-radius: 5px;
   position: relative;
}

.dashboard .section-box .tab-options a.active {
   background-color: #07a6ff;
}

.dashboard .section-box .tab-options a.active::before {
   content: ' \2714';
   position: absolute;
   top: 5px;
   left: 15px;
   font-size: 18px;
   font-weight: bold;
   color: #FFF;
}

.dashboard .section-box .filter-dropdown {
   display: flex;
   flex-direction:row;
   align-items:center;
   justify-content:space-between;
   padding: 10px;
   gap: 10px;
}

.dashboard .section-box .filter-dropdown select {
   width: 50%;
   min-width: 160px;
}

.dashboard .section-box .filter-dropdown > div {
   font-size: 14px;
}

.dashboard .section-box .filter-dropdown > div b {
   display: inline;
   padding: 0 5px;
}

.dashboard .section-box .dropdown-selected {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   gap: 3px 15px;
   flex-wrap: wrap;
   padding: 5px 10px;
}

.dashboard .section-box .dropdown-selected span {
   position: relative;
}

.dashboard .section-box .dropdown-selected span:first-child {
   font-weight: 600;
   color: #005789;
   padding-right: 10px;
}

.dashboard .section-box .dropdown-selected span:first-child:after {
   content: ":";
   position: absolute;
   top: -1px;
   right: 0px;
}

.dashboard .section-box .chart-container {
   display: block;
   width: 100%;
   margin: 15px 0 10px;
   padding: 0 5px;
}

.dashboard .section-box .box-footer {
   display: flex;
   display: -webkit-flex;
   align-items: stretch;
   width: 100%;
   overflow-x: auto;
}

.dashboard .section-box .box-footer a {
   width: 100%;
   text-align: center;
   padding: 10px 5px;
   font-size: 14px;
   font-weight: 600;
   display: flex;
   display: -webkit-flex;
   flex-direction: column;
   align-items: center;
   color: #fff;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.dashboard .section-box .blue {
   background: #0c90da;
}

.dashboard .section-box .blue a:hover,
.dashboard .section-box .blue a.active {
   background-color: #005789;
}

.dashboard .section-box .green {
   background: #7eb73e;
}

.dashboard .section-box .green a:hover,
.dashboard .section-box .green a.active {
   background-color: #498b00;
}

.dashboard .section-box .orange {
   background: #f58534;
}

.dashboard .section-box .orange a:hover,
.dashboard .section-box .orange a.active {
   background-color: #c15100;
}

.apexcharts-toolbar {
   gap: 3px;
}


.dashboard .que-ans-container .questionnaire {
   display: block;
   padding: 20px;
}

.dashboard .que-ans-container .questionnaire .mySlides {
   display: none;

}

.dashboard .que-ans-container .questionnaire .mySlides:first-child {
   display: block;
}

.dashboard .que-ans-container .questionnaire .mySlides .que {
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #373a3c;
}

.dashboard .que-ans-container .questionnaire .mySlides .ans {
   background: #f5f5f5;
   line-height: 1.6em;
   font-size: 14px;
   padding: 10px 15px !important;
   text-align: justify !important;
   margin-top: 15px !important;
}

.dashboard .que-ans-container .controller {
   display: flex;
   justify-content: flex-end;
   padding: 0;
   margin: 0 20px 20px;
}

.dashboard .que-ans-container .controller a {
   font-size: 20px;
   margin-left: 5px;
   color: #005789;
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.dashboard .que-ans-container .controller a:hover {
   color: #0c90da;
}

.dashboard .today-applicant .content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 25px 0;
   gap: 5px;
}

.dashboard .today-applicant .content * {
   display: block;
   text-align: center;
}

.dashboard .today-applicant .content h1 {
   font-weight: bold;
   color: #005789;
   font-size: 50px;
}

.dashboard .today-applicant .content p {
   font-size: 16px;
   padding: 5px 0;
}

.dashboard .today-applicant .content h2 {
   font-size: 22px;
   color: #f58534;
}


/*==| Date Range Picker CSS Start |======================================= */

.daterangepicker-icon {
   display: inline-block;
   /* width: 20px;
   height: 20px;
   background: url(../images/calendar-icon.svg) no-repeat;
   background-size: 16px;
   background-position: center; */
   border: 0;
   font-size: 18px;
   color: #005789;
}

.daterangepicker-icon:hover {
   color: #000;
}

.daterangepicker {
   border: 1px solid #005789;
}

.daterangepicker:before {
   border-bottom: 7px solid #005789;
}

.daterangepicker.opensleft:before {
   right: 2px;
}

.daterangepicker.opensleft:after {
   right: 3px;
}

.daterangepicker .drp-buttons .btn {
   font-size: 14px;
   color: #FFF;
   background: #357ebd;
}

/*==| Date Range Picker CSS Start |======================================= */

.daterangepicker-referral {
   font-weight: normal;
}

.dataTables_wrapper {
   width: 100%;
   overflow-y: auto;
   padding-bottom: 10px;
}

@media screen and (max-width: 1025px) {

   .dashboard .flex-row {
      flex-direction: column;
   }

}