/* .error, .emailvalidation {
    color: red!important;
} */

.required-field {
   display: inline-block !important;
   color: #ff0000;
   padding-left: 3px;
}

.error, .emailvalidation {
   display: block;
   color: red !important;
   padding-top: 5px;
}

.error:after,
.emailvalidation:after {
   display: none;
}

input.error,
select.error {
   border: 1px solid red !important;
   color: #000 !important;
}

label.error {
   margin: 0;
   padding: 5px 0;
   /* display: none !important; */
}

.select2-container--default.select2-container--disabled .select2-selection--multiple {
   border: none;
}

.select2-dropdown--above {
   /* border: 1px solid red !important; */
   border-bottom: none !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
   padding-left: 5px;
}

/* .error::-webkit-input-placeholder {color: red;}
.error::-moz-placeholder {color: red;}
.error:-ms-input-placeholder {color: red;}
.error:-moz-placeholder {color: red;} */
.green {
   color: green !important;
}
.county-of-service {
   padding-bottom: 5px;
}

.autocomplete {
   width: 100%;
}

.select2-container {
   width: 100% !important;
   z-index: 9;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999999999;
 }

 .loader img {
    display: block;
    width: 200px;
    height: 200px;
    margin: calc((100vh - 200px)/2) auto;
 }

 .loader lottie-player {
	width: 300px;
	height: 300px;
	border: 0 !important;
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 150px);
}

 .success-message {
    display: block;
    width: max-content;
    max-width: 95vw;
    position: fixed;
    top: 70px;
    right: 20px;
    background: #26a100;
    border-radius: 5px;
    padding: 12px 30px 15px 20px;
    z-index: 9999999999;
    color: #fff;
    font-size: 14px;
 }

 .success-message:before {
    content: " \2714";
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
 }

 .success-message .success-message-close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
    width: 20px;
    text-align: center;
 }

 .page-container section #frm-email .grid-row {
    padding-bottom: 10px;
 }
 .error-message {
   display: block;
   width: max-content;
   max-width: 95vw;
   position: fixed;
   top: 70px;
   right: 20px;
   background: #d40f0f;
   border-radius: 5px;
   padding: 12px 30px 15px 20px;
   z-index: 9999999999;
   color: #fff;
   font-size: 14px;
}

.error-message:before {
   content: " \2718";
   color: #fff;
   font-size: 18px;
   margin-right: 5px;
}

.error-message .error-message-close {
   position: absolute;
   top: 5px;
   right: 5px;
   z-index: 999;
   width: 20px;
   text-align: center;
   color: #fff;
}

.warning-message {
   display: block;
   position: fixed;
   top: 70px;
   right: 20px;
   background: #ffc400;
   border-radius: 5px;
   padding: 12px 30px 15px 20px;
   z-index: 9999;
   color: #fff;
   font-size: 14px;
}

.warning-message:before {
   content: " \2718";
   color: #fff;
   font-size: 18px;
   margin-right: 5px;
}

.warning-message .warning-message-close {
   position: absolute;
   top: 5px;
   right: 5px;
   z-index: 999;
   width: 20px;
   text-align: center;
}

.health-care-proxy-fields {
   display: none;
}

.static-document-list input[type="checkbox"] {
   display: inline-block;
}

td.hide_column {
   display: none;
}

.dataTables_filter {
   display: none;
}

/* .uploaded_preview {
   flex-wrap: wrap;
   height: 350px;
   overflow: auto;
}

.uploaded_preview img {
   display: block;
   width: 100%;
   height: auto;
   max-height: 350px;
   margin: 0 auto;
} */

span.view-password {
   position: absolute;
   right: 11px;
   top: 32px;
   cursor: pointer;
}

.d-block {
   display: block!important;
}

.d-none {
   display: none!important;
}

.dataTables_filter {
   padding-bottom: 10px;
}

.signature-pad--actions > button {
   line-height: 25px !important;
	background: #56a2e8 !important;
   color: #FFF;
}

.signature-pad--footer button:hover {
	background-color: #0073de !important;
}

.pac-container {
   background-color: #FFF;
   z-index: 999999;
   position: fixed;
   display: inline-block;
   float: left;
}
.modal{
   z-index: 99999;
}
.swal2-container {
   z-index: 100000 !important; /* Adjust the z-index value as needed */
}
.modal-backdrop{
   z-index: 999;
}

.modal-body .grid-row {
   padding: 0 0 10px !important;
   grid-gap: 15px;
}

span.multiselect-native-select {
   display: block;
   width: 100%;
}

span.multiselect-native-select .btn-group, .btn-group-vertical,
span.multiselect-native-select .btn-group.open .dropdown-toggle {
   width: 100%;
}

span.multiselect-native-select .btn-group .dropdown-toggle {
   display: block;
	width: 100%;
	text-align: left;
}

span.multiselect-native-select .btn-group .dropdown-toggle .multiselect-selected-text {
   display: block;
   width: 100%;
   text-align: left;
   padding: 5px 10px;
   border: 1px solid #d1d1d1;
   background: url(../images/down-arrow.svg) no-repeat #FFF;
   background-size: 12px;
   background-position: calc(100% - 10px) center;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

span.multiselect-native-select .btn-group .multiselect-container {
   width: 100%;
   background: #FFF;
   max-height: 150px;
   overflow: auto;

}

span.multiselect-native-select .btn-group .multiselect-container .dropdown-item {
   display: block;
   width: 100%;
   text-align: left;
   background: none;
   margin-bottom: 1px;
}

span.multiselect-native-select .btn-group .multiselect-container .dropdown-item .form-check {
   padding: 5px 0 5px 5px;
}

span.multiselect-native-select .btn-group .multiselect-container .dropdown-item input[type="radio"],
span.multiselect-native-select .btn-group .multiselect-container .dropdown-item input[type="checkbox"] {
   display: inline-block;
   margin-right: 5px;
   width: 15px;
   height: 15px;
}

.multiselect-container .multiselect-option:hover,
.multiselect-container .multiselect-group:hover,
.multiselect-container .multiselect-all:hover,
.multiselect-container .multiselect-option:focus,
.multiselect-container .multiselect-group:focus,
.multiselect-container .multiselect-all:focus {
   background-color: #f1f1f1 !important;
}

.multiselect-container .multiselect-option.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-group.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-option:not(.multiselect-active-item-fallback):active,
.multiselect-container .multiselect-group:not(.multiselect-active-item-fallback):active,
.multiselect-container .multiselect-all:not(.multiselect-active-item-fallback):active {
   background-color: #d7f5ff !important;
}

.disabled-link {
   pointer-events: none;
 }

 .ui-timepicker-standard {
   z-index: 9 !important;
 }

@media screen and (max-width: 640px) {
   .success-message {
      top: 50%;
      left: 50%;
      right: unset;
      transform: translate(-50%, -50%);      
   }
} 